%h4= @company.name
%p#notice= notice

-# По правильному сделать список займов и потом уже описание займов, но у нас один займ на компанию
- loan = @company.loan
%p
  Заем на сумму:
  = loan.sum
%p
  Процентные ставки:
  = "%05.2f%" % loan.base_percent
  //
  = "%05.2f%" % loan.delay_percent
%p
  Месячные выплаты:
  - loan.payments.each do |p|
    - case p.status
      - when 'normal'
        - p_sum = loan.sum.to_f/loan.time + loan.sum*loan.base_percent/12
      - when 'delay'
        - p_sum = loan.sum.to_f/loan.time + loan.sum*loan.delay_percent/12
      - when 'all'
        - p_sum = loan.sum - loan.sum.to_f/loan.time*p.order + loan.sum*loan.base_percent/12
    %br/
    = "%05.2f" % p_sum
%p
  Выплаченные проценты:
  = loan.total_overdrive
= link_to 'К списку', companies_path
